body{
    margin: 0;
    padding:0;
    cursor:pointer;
}


li{
    font-size: 20px !important;
    font-family: serif;
    text-transform: capitalize;
}


ol{
    margin-left: 150px;
    width: 200px !important;
}

.col-md-4 h2 {
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-style: oblique;
}


@media only screen and (max-width:400px){
    
    ol{
        margin: 0 !important;
        width: auto !important;
    }

    .col-sm-12{
        margin-bottom:30px;
    }

    .col-md-4 h2{
        text-align: start;
        border-bottom-right-radius: 20px;
        background: linear-gradient(to right, rgba(17, 34, 51, 0), rgba(255, 255, 255, 0.652));
    }

}


@import url('https://fonts.googleapis.com/css?family=Raleway:200');


.col{
  color: rgb(253, 246, 246) !important;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

.bg-color {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.bg-color:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ffffff9f, #f37055, #ef4e7b, #a166ab, #5073b8, #15170f, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s linear alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


